    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .main-container {
        background-color: rgb(31, 30, 30);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box {
        width: 28%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #010850;
        border: 2px solid #ffffff;
        border-radius: 20px;
    }

    h1 {
        font-size: 28px;
        color: aliceblue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    input {
        width: 89%;
        height: 38px;
        font-size: 17px;
        padding: 12px 16px;
        border: 2px solid lemonchiffon;
        border-radius: 14px;
        text-align: center;
        cursor: pointer;
        outline: none;
        
    }

    .btns {
        width: 80%;
        padding: 1px 8px;
        display: flex;
        justify-content: space-between;
    }

    .btn {
        position: relative;
        top: 0;
        cursor: pointer;
        font-size: 16px;
        padding: 8px 14px;
        background-color: rgb(17, 19, 63);
        box-shadow: 4px 4px 10px #131212;
        color: aliceblue;
        border: 1px solid #fff;
        border-radius: 15px;
        transition: 1px;
    }
    .btn:hover{
        box-shadow: 0px 0px 0px #181616;
        top: 1px;
    }
    #copy-btn{
        margin-top:-8px;
    }
    @media (max-width:1320px) {
        .box {
            width: 32%;
            height: 306px;
        }
        .btns{
            width: 94%;
            padding: 2px 14px;
        }
    }
    @media (max-width:1155px){
        input{
            padding: 12px 16px;
            font-size: 16px;
        }
        .btns{
            width: 100%;
        }
        .btn{
            font-size: 16px;
        }
        h1{
            font-size: 1.8em;
        }
    }
    @media (max-width:969px){
        .btns{
            padding: 2px 18px;
        }
        h1{
            font-size: 1.5em;
        }
        .btn{
            padding: 8px 14px;
            font-size: 14px;
        }
    }
    @media (max-width:856px) {
        .box {
            width: 40%;
            height: 286px;
        }
    }
    @media (max-width:720px) {
        .box {
            width: 42%;
            height: 248px;
        }
        input{
            font-size: 16px;
        padding: 10px 14px;
        }
    }
    @media (max-width:640px) {
        .box {
            width: 50%;
        
        }
    }
    @media (max-width:556px) {
        .box {
            width: 54%;
         
        }
    }
    @media (max-width:496px) {
        .box {
            width: 58%;
   
        }
        .btns{
            width: 100%;
            padding: 2px 12px;
        }
        h1{
            font-size: 1.35em;
        }
    }
    @media (max-width:426px) {
        .box {
            width: 60%;
        
        }
        .btn{
            padding: 6px 10px;
        }
        h1{
            font-size: 1.15em;
        }
    }
    @media (max-width:375px){
        .box {
            width: 72%;
        }
    }

    @media (max-width:286px) {
        .box {
            width: 80%;
            height: 220px;
        }
        input{
        height: 26px;
        }
        input::placeholder{
            font-size: 14px;
        }
        .btn{
            font-size: 12px;
            padding: 6px 8px;
        }
        h1{
            font-size: 1em;
        }
    }